<template>
	<div class="main">
		<h1>Hello World!</h1>
		<p>This is a simple configuration webpack configuration made from scratch to explore in depth how to use typescript and vue with webpack.</p>
	</div>
</template>

<script>
export default {
  name: 'Home'
};
</script>

<style>
#app {
  padding: 10em;
}

.main {
  text-align: center;
  font-family: arial;
  color: #49e55b;
}
</style>